# Day 0 
Data pre-process for the statistical problems in ss25

In [ ]:
# !pwd
# !which python
# pip install pandas

SyntaxError: invalid syntax (3443166104.py, line 3)

In [1]:
import pandas as pd
import csv

In [2]:
data_path = '../Materials/data/'

## Examples for creating samples for Lac1

In [3]:
# For CSV data
df = pd.read_csv(data_path+'dg.csv')
print(df)

             ra        dec    xki    eta  radius  signal  noise      vr  e_vr  \
0    344.663910  41.243137  4.328 -2.878   5.209   279.1   50.5 -195.36  4.12
1    344.654999  41.235722  3.927 -3.323   5.280   382.8   47.7 -186.15  3.51
2    344.650360  41.250057  3.717 -2.463   4.468   127.4   42.0 -185.56  6.56
3    344.643341  41.225750  3.401 -3.922   5.686   629.3   54.0 -179.53  3.12
4    344.626373  41.277832  2.636 -0.797   2.920   448.3   58.6 -201.28  3.35
..          ...        ...    ...    ...     ...     ...    ...     ...   ...
121  344.499176  41.258251 -3.098 -1.972   5.993   275.2   48.1 -195.77  4.76
122  344.493408  41.277916 -3.358 -0.792   4.895   222.1   59.8 -190.77  5.73
123  344.488220  41.251221 -3.592 -2.393   7.090   270.7   57.1 -222.08  4.97
124  344.481171  41.274887 -3.910 -0.973   5.753   241.3   56.9 -206.85  6.08
125  344.479096  41.261890 -4.004 -1.753   6.746   372.6   61.4 -199.93  4.62

     P(member)
0         1.00
1         0.99
2         0.99
3         0.96
4         1.00
..         ...
121       1.00
122       1.00
123       0.98
124       1.00
125       1.00

[126 rows x 10 columns]

In [17]:
df['ra']

0      344.663910
1      344.654999
2      344.650360
3      344.643341
4      344.626373
          ...
121    344.499176
122    344.493408
123    344.488220
124    344.481171
125    344.479096
Name: ra, Length: 126, dtype: float64

In [8]:
# For CSV data
df1 = pd.read_csv(data_path+'Lac1_total.csv')
print(df1)

             ra        dec    xki    eta  radius  signal  noise      vr  e_vr  \
0    344.704712  41.202946  6.168 -5.290   8.358   425.0   60.8   -8.17  4.82
1    344.681000  41.197334  5.099 -5.627   8.227   621.9   64.3 -109.61  3.38
2    344.672821  41.197166  4.730 -5.637   8.128   804.3   68.0   -3.13  3.34
3    344.664093  41.191361  4.337 -5.985   8.489   214.8   54.7  -36.91  5.63
4    344.660217  41.189724  4.162 -6.083   8.598   322.1   58.5  -19.90  4.97
..          ...        ...    ...    ...     ...     ...    ...     ...   ...
164  344.487030  41.242168 -3.646 -2.937   7.877   395.8   57.2  -58.43  4.23
165  344.481171  41.274887 -3.910 -0.973   5.753   241.3   56.9 -206.85  6.08
166  344.479096  41.261890 -4.004 -1.753   6.746   372.6   61.4 -199.93  4.62
167  344.452789  41.238583 -5.189 -3.152   9.843   203.2   54.1 -125.36  6.38
168  344.449921  41.230556 -5.319 -3.633  10.616   666.0   72.0  -58.59  4.21

     P(member)
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
..         ...
164        0.0
165        1.0
166        1.0
167        0.0
168        0.0

[169 rows x 10 columns]

In [9]:
df1['ra']

0      344.704712
1      344.681000
2      344.672821
3      344.664093
4      344.660217
          ...
164    344.487030
165    344.481171
166    344.479096
167    344.452789
168    344.449921
Name: ra, Length: 169, dtype: float64

In [10]:
ind_dg = df1['vr'] <= -160

In [11]:
dg = df1[ind_dg]
dg

,ra,dec,xki,eta,radius,signal,noise,vr,e_vr,P(member)
9,344.663910,41.243137,4.328,-2.878,5.209,279.1,50.5,-195.36,4.12,1.00
10,344.654999,41.235722,3.927,-3.323,5.280,382.8,47.7,-186.15,3.51,0.99
11,344.650360,41.250057,3.717,-2.463,4.468,127.4,42.0,-185.56,6.56,0.99
12,344.643341,41.225750,3.401,-3.922,5.686,629.3,54.0,-179.53,3.12,0.96
15,344.626373,41.277832,2.636,-0.797,2.920,448.3,58.6,-201.28,3.35,1.00
...,...,...,...,...,...,...,...,...,...,...
161,344.499176,41.258251,-3.098,-1.972,5.993,275.2,48.1,-195.77,4.76,1.00
162,344.493408,41.277916,-3.358,-0.792,4.895,222.1,59.8,-190.77,5.73,1.00
163,344.488220,41.251221,-3.592,-2.393,7.090,270.7,57.1,-222.08,4.97,0.98
165,344.481171,41.274887,-3.910,-0.973,5.753,241.3,56.9,-206.85,6.08,1.00
166,344.479096,41.261890,-4.004,-1.753,6.746,372.6,61.4,-199.93,4.62,1.00

In [18]:
dg.to_csv(data_path+'Lac1_dg1.csv')

In [23]:
sample1 = df1.sample(n=12)
sample1

,ra,dec,xki,eta,radius,signal,noise,vr,e_vr,P(member)
82,344.464874,41.349640,-4.645,3.512,5.891,253.7,46.1,-180.47,5.92,0.96
76,344.488586,41.310139,-3.576,1.142,3.954,484.9,54.3,-209.11,6.48,1.00
104,344.656708,41.407501,4.004,6.983,14.120,475.6,50.2,-104.66,4.46,0.00
113,344.602722,41.302418,1.570,0.678,2.634,151.1,74.7,-185.73,9.16,0.99
57,344.532837,41.285694,-1.581,-0.325,2.255,325.7,48.7,-183.52,3.96,0.98
78,344.480011,41.340111,-3.962,2.940,4.982,251.5,48.1,-184.89,4.64,0.99
159,344.510925,41.268417,-2.569,-1.362,4.619,307.2,60.9,-208.43,4.58,1.00
61,344.517822,41.289249,-2.258,-0.112,2.898,256.9,47.8,-184.25,4.50,0.98
56,344.536377,41.320778,-1.421,1.780,2.549,190.6,52.5,-198.39,7.01,1.00
90,344.425903,41.350223,-6.402,3.547,7.328,373.8,46.9,-50.16,4.88,0.00
1,344.681000,41.197334,5.099,-5.627,8.227,621.9,64.3,-109.61,3.38,0.00
53,344.543701,41.292778,-1.091,0.100,1.293,483.2,50.5,-189.72,2.74,0.99

In [25]:
sample2 = df1.sample(n=int(len(df1)*0.5))
sample2

,ra,dec,xki,eta,radius,signal,noise,vr,e_vr,P(member)
106,344.643829,41.367249,3.423,4.568,9.980,250.5,53.5,-79.91,5.39,0.00
40,344.565247,41.262054,-0.120,-1.743,2.843,232.7,46.8,-213.17,4.62,1.00
69,344.502014,41.286304,-2.970,-0.288,3.933,664.4,53.8,-205.95,3.13,1.00
135,344.564423,41.272945,-0.157,-1.090,1.831,176.0,58.8,-186.95,7.51,0.99
149,344.541656,41.276943,-1.183,-0.850,2.417,224.1,55.7,-213.27,5.45,1.00
...,...,...,...,...,...,...,...,...,...,...
17,344.623749,41.269222,2.518,-1.313,2.850,364.7,48.0,-105.78,3.87,0.00
93,344.416534,41.319027,-6.824,1.675,7.639,192.9,46.4,-207.62,5.84,1.00
84,344.462250,41.357113,-4.763,3.960,6.341,476.3,58.7,-186.44,3.70,0.99
75,344.489777,41.341721,-3.522,3.037,4.787,427.9,51.9,-189.82,4.03,0.99
73,344.490845,41.323833,-3.474,1.963,3.993,205.7,47.2,-199.20,5.39,1.00

In [29]:
sample1.to_csv(data_path+'Lac1_dg_s1.csv')
sample2.to_csv(data_path+'Lac1_dg_s2.csv')

## Practice - Create the following datasets:

Group 1: 100% of Lac1 members

Group 2: 50% of Lac1 members

Group 3: 10% of Lac1 members

Group 4: 100% of Per1 members

Group 5: 10% of Cas3 members

Group 6: 50% of Cas3 members

In [57]:
group1=pd.read_csv(data_path+'Lac1_total.csv')
ind_dg = group1['vr'] <= -160
dg[ind_dg]
#g##roup1.to_csv(data_path+'group1.csv')
dg.to_csv(data_path+'group1.csv')
dg

/tmp/ipykernel_27949/1001722431.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dg[ind_dg]

,ra,dec,xki,eta,radius,signal,noise,vr,e_vr,P(member)
9,344.663910,41.243137,4.328,-2.878,5.209,279.1,50.5,-195.36,4.12,1.00
10,344.654999,41.235722,3.927,-3.323,5.280,382.8,47.7,-186.15,3.51,0.99
11,344.650360,41.250057,3.717,-2.463,4.468,127.4,42.0,-185.56,6.56,0.99
12,344.643341,41.225750,3.401,-3.922,5.686,629.3,54.0,-179.53,3.12,0.96
15,344.626373,41.277832,2.636,-0.797,2.920,448.3,58.6,-201.28,3.35,1.00
...,...,...,...,...,...,...,...,...,...,...
161,344.499176,41.258251,-3.098,-1.972,5.993,275.2,48.1,-195.77,4.76,1.00
162,344.493408,41.277916,-3.358,-0.792,4.895,222.1,59.8,-190.77,5.73,1.00
163,344.488220,41.251221,-3.592,-2.393,7.090,270.7,57.1,-222.08,4.97,0.98
165,344.481171,41.274887,-3.910,-0.973,5.753,241.3,56.9,-206.85,6.08,1.00
166,344.479096,41.261890,-4.004,-1.753,6.746,372.6,61.4,-199.93,4.62,1.00

In [62]:
group2=dg.sample(int(len(dg)*0.5))
group2
group2.to_csv(data_path+'group2.csv')
# ind_dg = group2['vr'] <= -160
# dg[ind_dg]
# #g##roup1.to_csv(data_path+'group1.csv')
# dg.to_csv(data_path+'group1.csv')
# dg

In [72]:
group3=dg.sample(int(len(dg)*0.1))
group3.to_csv(data_path+'group3.csv')

In [87]:
group4=pd.read_csv('/home/yin/github_item/ss25/Materials/data/Per1_total.csv')
group4.to_csv('/home/yin/github_item/ss25/Materials/data/group4.csv')

In [ ]:
group=pd.read_csv('/home/yin/github_item/ss25/Materials/data/Cas3_total.csv')
group5=group.sample(int(len(group)*0.1))

group5.to_csv('/home/yin/github_item/ss25/Materials/data/group5.csv')

In [91]:
group6=group.sample(int(len(group)*0.5))
group6.to_csv('/home/yin/github_item/ss25/Materials/data/group6.csv')